* {
    font-family: Roboto; /* Sets a default font for the whole page */
    margin: 0; /* Removes default margins */
    padding: 0; /* Removes default padding */
}

html{
    background-color: rgb(229, 231, 226);
}

html, body{
    padding: 1rem;
    flex-direction: column;
}

.lists{
    margin-top: 20px;
    margin-bottom: 20px;
}

.recent-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.album{
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.album-cover{
    width: 100%;
}

.album-title{
    text-align: center;
}

.artist{
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.artist-cover{
    width: 100%;
    border-radius: 50%;
}

.artist-title{
    text-align: center;
}

a{
    color: black;
}